<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <p class="author__bio">{{ site.data.settings.author.bio }}</p><br>
            
            <h3>Contact</h3>
            <p>Reach me at j.edil at ene.unb.br or using the social media links below.</p>
            <p>PGP 2113 A2F4 1043 17C6 30DF 8A58 8E31 D077 EAEC F0B2</p>
              
            <!-- <a class="author__btn" href="#projects"> -->
            <!--   <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ site.data.settings.author.button__text }} -->
            <!-- </a> -->
          </div>

          <div class="author__right">
            <div class="author__image">
              <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
